body{
    background-color: rgb(35, 134, 96);
}

#titulo{
    color: aliceblue;
    text-align: center;
}

.parrafo{
    text-align: center;
    font-size: 3rem;
}

a{
    font-size: 2rem;
    color: aliceblue;
    text-decoration: none;
}

